{% extends "base.html" %}
{% block content %}

<div class="profile-row">
    <div class="col s12 m4 l8">
        <div class="card-panel">
            <h4 class="center-align header-text">
               Welcome {{ username|capitalize }}
            </h4> 
            <i class="large material-icons">account_circle</i>
                <div class="row">
                  <div class="col s12">
                    <p class="center-align">
                      Want to add a note?
                      <a href="{{ url_for('add_task') }}" class="light-blue-text text-lighten-1">Add task</a></p>
                  </div>
            </div>
        </div>
    </div>
</div>

        
{% endblock %}

